/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    max-width: 960px;
    margin-inline: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#image-group {
    width: 100%;
    margin-inline: auto;
}

#map {
    height: 450px;
    width: 450px;
}

#main-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.form-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 30px;
    width: 400px;
    font-size: 1em;
}

.form-element {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.form-element:last-of-type {
    margin-top: 15px;
}

#origin-text {
    width: 225px;
    padding: 12px 20px;
    font-size: 1em;
}

#geolocation-button {
    padding: 11px 20px;
    font-size: 1em;
}

#destination-text {
    width: 285px;
    padding: 12px 20px;
    font-size: 1em;
}

#calculate-button {
    font-size: 1em;
    display: inline-block;
    padding-block: 10px;
    width: 100%;
}

#result {
    text-align: center;
    font-size: 2em;
}